.breadcrumb{
    margin: 0 !important;
    background: #ffffff !important;
    border-radius: 2px !important;
    box-shadow: 0 0 3px 0 rgba(57, 78, 234, 0.1)!important;
}
.breadcrumb-item{
    text-decoration: none;
}
.breadcrumb-item:hover{
    text-decoration: none;
}


/*Bradcaump Area*/


.ht__bradcaump__wrap {
    align-items: center;
    display: flex;
    height: 320px;
}
.bradcaump-title {
    color: #343434;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
}
.breadcrumb-item {
    color: #343434;
    font-size: 18px;
    text-transform: capitalize;
}
.breadcrumb-item.active {
    color: #343434;
    font-size: 18px;
    text-transform: capitalize;
}
.brd-separetor {
    padding: 0 5px;
}
.bradcaump-inner {
    margin-top: 23px;
}
